* {
  background-color: #1a1b26;
  color: antiquewhite;
  font-family: sans-serif;
}
.AppDoo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  border: 2px solid purple;
  border-radius: 4px;
  padding: 1rem;
}
button:hover {
  background-color: #2b2f36;
}

input {
  border: 2px solid purple;
  padding: 0.5rem;
}
